.racer-table td {
  height: 37px;
  width: 35px;
}

.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;

}

.racer-table td.finish-line {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

#player1-race td.active {
  background-image: url("images/player_1.png");
  position: relative;
  z-index: 1000;
}

#player2-race td.active {
  background-image: url("images/porsche.png");
  position: relative;
  z-index: 1000;
}

td.active img {
  position: relative;
  z-index: 1000; /* Higher than the finish line */
}

.finish-line {
  position: relative;
  z-index: 1;
}

#player1-race td.finish-line {
  background-image: url("images/finish.png");
  position: relative;
  z-index: 5;
  background-size: cover;
  background-position: center;
}

#player2-race td.finish-line {
  background-image: url("images/finish.png");
  position: relative;
  z-index: 5;
}

tr {
  background-color: grey;
}

td {
  border: 1px solid white;
}

body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

#winnerMessage {
  font-size: 18px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#restartGame {
  background-color: #69A6CA;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#restartGame:hover {
  background-color: #3B6C92;
}
